project:
  type: website
  output-dir: docs   # remove if you want root

website:
  title: "AI • ML • Data • Finance Project Portfolio"
  navbar:
    left:
      - href: index.qmd
        text: Home

format:
  html:
    theme: cosmo
    toc: true
